@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /*-----------------------------------COLORS--------------------------------------*/
  .bg-gray {
    @apply bg-gray-800;
  }

  .text-gray {
    @apply text-gray-800;
  }

  .border-gray {
    @apply border-gray-800;
  }
  /*-----------------------------------END COLORS--------------------------------------*/

  /*-----------------------------------PROSE--------------------------------------*/
  .editor-heading-h1,
  h1 {
    @apply text-5xl text-black font-medium;
  }

  .editor-heading-h2,
  h2 {
    @apply text-4xl text-black;
  }

  .editor-heading-h3,
  h3 {
    @apply text-3xl text-black;
  }

  .editor-heading-h4,
  h4 {
    @apply text-2xl text-black;
  }

  .editor-heading-h5,
  h5 {
    @apply text-xl text-black;
  }

  .editor-heading-h6,
  h6 {
    @apply text-base text-black;
  }

  header {
    @apply relative grid grid-cols-4 gap-x-4 md:grid-cols-8 lg:grid-cols-12 lg:gap-x-6 mx-auto max-w-7xl;
  }

  header :is(h1, h2, h3, h4, h5, h6) {
    @apply col-span-full lg:col-span-10 lg:col-start-2 mb-10;
  }

  header :is(h4, h5, h6) {
    @apply col-span-full lg:col-span-10 lg:col-start-2 mb-5;
  }

  header img {
    @apply rounded-lg shadow-lg mx-auto col-span-full;
  }

  main {
    @apply relative grid grid-cols-4 gap-x-4 md:grid-cols-8 lg:grid-cols-12 lg:gap-x-6 mx-auto max-w-7xl mb-12;
  }

  main :is(h1, h2, h3) {
    @apply col-span-full lg:col-span-10 lg:col-start-2 mb-10 mt-20;
  }

  main :is(h4, h5, h6) {
    @apply col-span-full lg:col-span-10 lg:col-start-2 mb-5 mt-5;
  }

  main p {
    @apply mb-3 col-span-full lg:col-span-10 lg:col-start-2;
  }

  main div {
    @apply mb-3 col-span-full lg:col-span-10 lg:col-start-2;
  }

  .editor-code,
  main pre {
    @apply p-5 rounded-lg my-10 col-span-full lg:col-span-10 lg:col-start-2 relative;
  }

  main img {
    @apply rounded-lg my-10 mx-auto col-span-full;
  }

  .content-editable img.prose-image {
    @apply cursor-pointer relative border border-transparent hover:border-gray-400;
  }

  main video {
    @apply rounded-lg my-10 mx-auto col-span-full;
  }

  main a {
    @apply font-bold relative after:absolute after:bottom-0 after:left-0 after:w-full after:bg-black after:transform after:transition-all after:ease-in-out after:origin-left after:h-[2px] after:scale-x-0 hover:after:scale-x-100;
  }

  main blockquote {
    @apply bg-gray-100 rounded-lg p-8 my-10 col-span-full lg:col-span-8 lg:col-start-3;
  }

  main blockquote :is(h1, h2, h3, h4, h5, h6) {
    @apply mt-3 mb-5;
  }

  main ul {
    @apply list-inside list-disc col-span-full;
  }

  main ol {
    @apply list-inside list-decimal col-span-full;
  }

  main article {
    @apply col-span-full lg:col-span-8 lg:col-start-3;
  }

  /*------------------------------------END PROSE--------------------------------------*/

  /*------------------------------------WYSIWYG--------------------------------------*/

  [contenteditable] {
    outline: 0px solid transparent;
  }

  /*------------------------------------END WYSIWYG--------------------------------------*/

  /*------------------------------------BUTTON--------------------------------------*/
  .button-base {
    @apply relative overflow-hidden border-4 border-gray shadow-2xl transition-all ease-in-out duration-300 font-black z-0 bg-gray text-white hover:text-gray after:w-[120%] after:h-[120%] after:rounded-full after:absolute after:-top-[10%] after:-left-[10%] after:bg-white  after:transition-all after:duration-500 after:ease-in-out after:-z-10;
  }

  .button-tiny {
    @apply text-sm px-3 py-1 rounded-lg after:w-[130%] after:h-[130%] after:-top-[15%] after:-left-[15%];
  }

  .button-small {
    @apply text-xl px-4 py-1.5 rounded-xl;
  }

  .button-default {
    @apply text-xl px-6 py-4 rounded-2xl;
  }

  .button-large {
    @apply text-2xl px-6 py-4 rounded-2xl;
  }

  .button-variant-default {
    @apply after:origin-left after:scale-x-0 hover:after:scale-x-100;
  }

  .button-variant-round {
    @apply rounded-full flex justify-center items-center after:origin-center after:scale-0 hover:after:scale-100;
  }
  /*-----------------------------------END BUTTON---------------------------------------*/

  /*-----------------------------------HEADERS---------------------------------------*/

  .subheader {
    @apply text-2xl md:text-3xl text-black mb-6;
  }

  /*-----------------------------------END HEADERS---------------------------------------*/

  /*-----------------------------------CHECKBOX---------------------------------------*/
  .checkbox-root {
    @apply flex items-center gap-5 cursor-pointer;
  }

  .checkbox-root > input {
    @apply hidden;
  }

  .checkbox-root > label {
    @apply select-none;
  }

  .checkbox-root > input ~ div {
    @apply border-4 border-gray-600 w-10 h-10 rounded-xl relative;
  }

  .checkbox-root > input:checked ~ div {
    @apply border-4 bg-gray-600 w-10 h-10 rounded-xl text-white flex items-center justify-center;
  }

  .checkbox-root > input:not(:checked) ~ div > svg {
    @apply hidden;
  }

  .checkbox-root > input:checked ~ div > svg {
    @apply block;
  }

  /*-----------------------------------END CHECKBOX---------------------------------------*/
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.editor-container {
  width: 100%;
  margin: 20px auto 20px auto;
  border-radius: 2px;
  color: #000;
  position: relative;
  font-weight: 400;
  text-align: left;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.editor-inner {
  background: #fff;
  position: relative;
}

.editor-text-bold {
  font-weight: bold;
}

.editor-text-italic {
  font-style: italic;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.editor-text-code {
  background-color: rgb(240, 242, 245);
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}

.editor-link {
  color: rgb(33, 111, 219);
  text-decoration: none;
}

.editor-code,
main pre {
  margin-top: 15px;
  margin-bottom: 30px;
  background-color: rgb(240, 242, 245);
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 52px;
  line-height: 1.53;
  font-size: 13px;
  tab-size: 2;
  /* white-space: pre; */
  overflow-x: auto;
  position: relative;
}

.editor-code:before,
main pre:before {
  content: attr(data-gutter);
  position: absolute;
  height: 100%;
  background-color: #eee;
  left: 0;
  top: 0;
  border-right: 1px solid #ccc;
  padding: 8px;
  color: #777;
  white-space: pre-wrap;
  text-align: right;
  min-width: 25px;
}

.editor-code:after,
main pre:after {
  content: attr(data-highlight-language);
  top: 0;
  right: 3px;
  padding: 3px;
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  height: 100%;
  color: rgba(0, 0, 0, 0.5);
}

.editor-tokenComment {
  color: slategray;
}

.editor-tokenPunctuation {
  color: #999;
}

.editor-tokenProperty {
  color: #905;
}

.editor-tokenSelector {
  color: #690;
}

.editor-tokenOperator {
  color: #9a6e3a;
}

.editor-tokenAttr {
  color: #07a;
}

.editor-tokenVariable {
  color: #e90;
}

.editor-tokenFunction {
  color: #dd4a68;
}

.editor-paragraph {
  margin: 0;
  margin-bottom: 8px;
  position: relative;
}

.editor-paragraph:last-child {
  margin-bottom: 0;
}

.editor-quote {
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: 20px;
  font-size: 15px;
  color: rgb(101, 103, 107);
  border-left-color: rgb(206, 208, 212);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}

.editor-list-ol {
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.editor-list-ul {
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.editor-listitem {
  margin: 8px 32px 8px 32px;
}

.editor-nested-listitem {
  list-style-type: none;
}

pre::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

pre::-webkit-scrollbar-thumb {
  background: #999;
}

.toolbar {
  display: flex;
  margin-bottom: 1px;
  background: #fff;
  padding: 4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  vertical-align: middle;
}

.toolbar button.toolbar-item {
  border: 0;
  display: flex;
  background: none;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  vertical-align: middle;
}

.toolbar button.toolbar-item:disabled {
  cursor: not-allowed;
}

.toolbar button.toolbar-item.spaced {
  margin-right: 2px;
}

.toolbar button.toolbar-item i.format {
  background-size: contain;
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-top: 2px;
  vertical-align: -0.25em;
  display: flex;
  opacity: 0.6;
}

.toolbar button.toolbar-item:disabled i.format {
  opacity: 0.2;
}

.toolbar button.toolbar-item.active {
  background-color: rgba(223, 232, 250, 0.3);
}

.toolbar button.toolbar-item.active i {
  opacity: 1;
}

.toolbar .toolbar-item:hover:not([disabled]) {
  background-color: #eee;
}

.toolbar .divider {
  width: 1px;
  background-color: #eee;
  margin: 0 4px;
}

.toolbar select.toolbar-item {
  border: 0;
  display: flex;
  background: none;
  border-radius: 10px;
  padding: 8px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 70px;
  font-size: 14px;
  color: #777;
  text-overflow: ellipsis;
}

.toolbar select.code-language {
  text-transform: capitalize;
  width: 130px;
}

.toolbar .toolbar-item .text {
  display: flex;
  line-height: 20px;
  width: 200px;
  vertical-align: middle;
  font-size: 14px;
  color: #777;
  text-overflow: ellipsis;
  width: 70px;
  overflow: hidden;
  height: 20px;
  text-align: left;
}

.toolbar .toolbar-item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 8px;
  line-height: 16px;
  background-size: contain;
}

.toolbar i.chevron-down {
  margin-top: 3px;
  width: 16px;
  height: 16px;
  display: flex;
  user-select: none;
}

.toolbar i.chevron-down.inside {
  width: 16px;
  height: 16px;
  display: flex;
  margin-left: -25px;
  margin-top: 11px;
  margin-right: 10px;
  pointer-events: none;
}

#block-controls button:hover {
  background-color: #efefef;
}

#block-controls button:focus-visible {
  border-color: blue;
}

#block-controls span.block-type {
  background-size: contain;
  display: block;
  width: 18px;
  height: 18px;
  margin: 2px;
}

.dropdown {
  z-index: 5;
  display: block;
  position: fixed;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  min-width: 100px;
  min-height: 40px;
  background-color: #fff;
}

.dropdown .item {
  margin: 0 8px 0 8px;
  padding: 8px;
  color: #050505;
  cursor: pointer;
  line-height: 16px;
  font-size: 15px;
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  border: 0;
  min-width: 268px;
}

.dropdown .item .active {
  display: flex;
  width: 20px;
  height: 20px;
  background-size: contain;
}

.dropdown .item:first-child {
  margin-top: 8px;
}

.dropdown .item:last-child {
  margin-bottom: 8px;
}

.dropdown .item:hover {
  background-color: #eee;
}

.dropdown .item .text {
  display: flex;
  line-height: 20px;
  flex-grow: 1;
  width: 200px;
}

.dropdown .item .icon {
  display: flex;
  width: 20px;
  height: 20px;
  user-select: none;
  margin-right: 12px;
  line-height: 16px;
  background-size: contain;
}

.link-editor {
  position: absolute;
  z-index: 100;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  max-width: 300px;
  width: 100%;
  opacity: 0;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  transition: opacity 0.5s;
}

.link-editor .link-input {
  display: block;
  width: calc(100% - 24px);
  box-sizing: border-box;
  margin: 8px 12px;
  padding: 8px 12px;
  border-radius: 15px;
  background-color: #eee;
  font-size: 15px;
  color: rgb(5, 5, 5);
  border: 0;
  outline: 0;
  position: relative;
  font-family: inherit;
}

.link-editor div.link-edit {
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  vertical-align: -0.25em;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.link-editor .link-input a {
  text-decoration: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 30px;
  text-overflow: ellipsis;
}

.link-editor .link-input a:hover {
  text-decoration: underline;
}

.link-editor .button {
  width: 20px;
  height: 20px;
  display: inline-block;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 2px;
}

.link-editor .button.hovered {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #eee;
}

.link-editor .button i,
.actions i {
  background-size: contain;
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: -0.25em;
}
